localhost:80 {
    reverse_proxy * frontend:5173

    handle /api/* {
        uri strip_prefix /api
        reverse_proxy backend:5000
    }

    handle /db-admin/* {
        route {
            forward_auth backend:5000 {
                uri /api/auth/admin-verify
                copy_headers Authorization Cookie
                header_up X-Api-Key {$INTERNAL_API_KEY}
            }
            uri strip_prefix /db-admin
            reverse_proxy pgweb:8081
        }
    }
}
