:80 {
    # Reverse proxy everything to the SvelteKit server
    reverse_proxy frontend:3000

    # Reverse proxy for API
    handle_path /api/* {
        reverse_proxy backend:5000
    }

    handle /api/openapi.json {
        rewrite * /openapi.json
        reverse_proxy backend:5000
    }
}
